@{
    ViewData["Title"] = "Home Page";
}

<style>
    .container {
        max-width: 1500px;
        margin: auto;
    }
</style>

<div class="text-center">
    <!--<h1 class="display-4">Welcome - I found it!</h1>-->
    <!-- <img src="https://thumbs.dreamstime.com/b/continuous-one-line-drawing-modern-house-tree-building-residential-building-concept-logo-symbol-construction-vector-141121709.jpg" /> -->
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <!-- Background image -->
    <div class="p-5 text-center bg-image"
         style=" background-image: url('http://cdn.home-designing.com/wp-content/uploads/2016/09/Amber-lit-staircase-iron-ore-living-luscious-green-panel-dim-lighting.jpg'); height: 500px; ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">How to become a successfull</h1>
                    <h1 class="mb-3">Real Estate Agent</h1>
                    <a class="btn btn-outline-light btn-lg" asp-area="Identity" asp-page="/Account/Register">Get started now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</div>
